body { 
    font-family: "Times New Roman";
}

li {
    list-style: none;
}

.header {
    background-color:red;
    height: 90px;
}

.header-logo {
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}

.header-list li{
    float: left;
    padding: 13px 20px;
}


.main {
    background-color: aqua;
    height: 600px;
}

.footer {
    background-color: blue;
    height: 200px;
    padding: 20px 40px;
}

.footer-logo {
    font-size: 36px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}